<div data-jqs="combobox" data-filter="contains">
  <label data-part="label" for="example-search">Search frameworks</label>
  <input id="example-search" data-part="control" type="search" autocomplete="off" />
  <input data-part="value" type="hidden" name="framework" />
  <div data-part="content">
    <div data-part="option" data-value="datastar">Datastar</div>
    <div data-part="option" data-value="jquery">jQuery</div>
    <div data-part="option" data-value="htmx">htmx</div>
  </div>
  <span data-part="status"></span>
</div>
