<div data-jqs="menubar" aria-label="Editor commands">
  <div data-part="menu" data-jqs="menu" data-value="file">
    <button data-part="trigger" type="button">File</button>
    <div data-part="content">
      <button data-part="item" data-value="new" type="button">New file</button>
      <button data-part="item" data-value="open" type="button">Open…</button>
      <button data-part="item" data-value="save" type="button">
        Save <span data-part="shortcut">⌘S</span>
      </button>
    </div>
  </div>
  <div data-part="menu" data-jqs="menu" data-value="edit">
    <button data-part="trigger" type="button">Edit</button>
    <div data-part="content">
      <button data-part="item" data-value="undo" type="button">Undo</button>
      <button data-part="item" data-value="redo" type="button">Redo</button>
    </div>
  </div>
  <div data-part="menu" data-jqs="menu" data-value="view">
    <button data-part="trigger" type="button">View</button>
    <div data-part="content">
      <button data-part="checkbox-item" data-value="sidebar" type="button" data-checked="true">
        Sidebar
      </button>
      <button data-part="checkbox-item" data-value="status" type="button" data-checked="true">
        Status bar
      </button>
    </div>
  </div>
</div>
