<fieldset data-jqs="rating" data-value="4">
  <legend>Support rating</legend>
  <div data-part="items">
    <label data-part="item">
      <input data-part="control" type="radio" name="rating" value="1" data-label="1 star" />
      <span data-part="icon" aria-hidden="true">★</span>
      <span data-part="label">1 star</span>
    </label>
    <label data-part="item">
      <input data-part="control" type="radio" name="rating" value="2" data-label="2 stars" />
      <span data-part="icon" aria-hidden="true">★</span>
      <span data-part="label">2 stars</span>
    </label>
    <label data-part="item">
      <input data-part="control" type="radio" name="rating" value="3" data-label="3 stars" />
      <span data-part="icon" aria-hidden="true">★</span>
      <span data-part="label">3 stars</span>
    </label>
    <label data-part="item">
      <input data-part="control" type="radio" name="rating" value="4" data-label="4 stars" />
      <span data-part="icon" aria-hidden="true">★</span>
      <span data-part="label">4 stars</span>
    </label>
    <label data-part="item">
      <input data-part="control" type="radio" name="rating" value="5" data-label="5 stars" />
      <span data-part="icon" aria-hidden="true">★</span>
      <span data-part="label">5 stars</span>
    </label>
  </div>
  <button data-part="clear" type="button">Clear rating</button>
  <output data-part="status">4 stars</output>
</fieldset>
