<div data-jqs="table">
  <table>
    <caption>
      Recent releases
    </caption>
    <thead>
      <tr>
        <th scope="col">Version</th>
        <th scope="col">Status</th>
        <th scope="col" data-align="numeric">Checks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">0.4.0</th>
        <td><span data-jqs="badge" data-variant="success">Verified</span></td>
        <td data-align="numeric">229</td>
      </tr>
      <tr>
        <th scope="row">0.3.0</th>
        <td><span data-jqs="badge" data-variant="secondary">Published</span></td>
        <td data-align="numeric">201</td>
      </tr>
    </tbody>
  </table>
</div>
