<ul data-jqs="tree" data-selection="multiple" data-value='["src"]' aria-label="Project files">
  <li data-part="item" data-value="src" data-expanded="true">
    <div data-part="row">
      <span data-part="toggle"></span>
      <span data-part="label">src</span>
      <span data-part="meta">2</span>
    </div>
    <ul data-part="group">
      <li data-part="item" data-value="index">
        <div data-part="row">
          <span data-part="spacer"></span>
          <span data-part="label">index.ts</span>
        </div>
      </li>
      <li data-part="item" data-value="ui" data-expanded="false">
        <div data-part="row">
          <span data-part="toggle"></span>
          <span data-part="label">ui</span>
          <span data-part="meta">1</span>
        </div>
        <ul data-part="group">
          <li data-part="item" data-value="button">
            <div data-part="row">
              <span data-part="spacer"></span>
              <span data-part="label">button.ts</span>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-part="item" data-value="readme">
    <div data-part="row">
      <span data-part="spacer"></span>
      <span data-part="label">README.md</span>
    </div>
  </li>
</ul>
